<center>
<p><%= link_to 'Add New Address', new_user_address_path(@user), class: 'btn-small' %></p>
<% unless @addresses.empty? %>
  <div class="dropdown">
    <button class="btn" id="address-btn">Shipping Address</button>
    <div class="address-select">
      <% @addresses.each do |address| %>
        <%= link_to "#{address.nickname}", "?address=#{address.id}" %>
      <% end %>
    </div>
  </div>
  <% if @selected %>
    <section class="new-order-address" id="address-option-#{address.id}">
      <p><%= @selected.name %></p>
      <p><%= @selected.address %></p>
      <p><%= "#{@selected.city}, #{@selected.state} #{@selected.zip}" %></p>
      <p align="right"><%= link_to 'Edit Address', edit_user_address_path(@user, @selected), class: 'reg-link' %></p>
    </section>
    <p align="center"><%= link_to submit, "/orders",  class: 'btn', id: 'green-btn', method: method %></p>
  <% else %>
    <p>☝️ Please select an address ☝️</p>
  <% end %>
<% end %>
</center>
