<h1 align = "center">Order</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='order-item-<%= item.id%>'>
      <td><h2><%= link_to item.name, "/items/#{item.id}", class: "reg-link" %></h2></td>
      <td><p><%= number_to_currency(item.price) %></p></td>
      <td><p><%= quantity %></p></td>
      <td><p><%= number_to_currency(cart.subtotal(item)) %></p></td>
      <td><p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}", class: "reg-link" %></p></td>
      <td><p><%= item.inventory %> in stock</p></td>
    </tr>
  <% end %>
</table>
<h3 align="center">Order Total: <%= number_to_currency(cart.total)%></h3>

<center>
<p><%= link_to 'Add New Address', user_address_new_path(@user), class: 'btn-small' %></p>
<% unless @addresses.empty? %>
  <div class="dropdown">
    <button class="btn" id="address-btn">Shipping Address</button>
    <div class="dropdown-content">
      <% @addresses.each do |address| %>
        <%= link_to "#{address.nickname}", "?address=#{address.nickname}" %>
      <% end %>
    </div>
  </div>
  <% if @selected %>
    <section class="new-order-address" id="address-#{@selected.id}">
      <p><%= @selected.name %></p>
      <p><%= @selected.address %></p>
      <p><%= "#{@selected.city}, #{@selected.state} #{@selected.zip}" %></p>
    </section>
    <p align="center"><%= link_to "Create Order", "/orders/#{@selected.nickname}",  class: 'btn', id: 'green-btn', method: :post %></p>
  <% else %>
    <p>☝️ Please select an address ☝️</p>
  <% end %>
<% end %>
</center>
