<%= form_for :order do |f| %>
  <div>
     <%= f.label :autolyse, "Yes", :value => "true"  %>
     <%= f.radio_button :autolyse, true %>
     <%= f.label :autolyse, "No", :value => "false" %>
     <%= f.radio_button :autolyse, false, :checked => true %>
   </div>
<% end %>
