<h1 align="center">Order #<%= @order.id %> </h1>
<h2 align="center" id="order-status">Status: <%= @order.status %></h2>
<center>
  <table class = "order-show-table">
    <tr>
      <th>Status</th>
      <th>Image</th>
      <th>Item</th>
      <th>Description</th>
      <th>Sold By</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order.item_orders.each do |item_order|%>
    <tr>
    <section id = "item-<%=item_order.item_id%>">
        <td><p><%= item_order.status %></p></td>
        <td><img src= <%=item_order.item.image%> id="profile-order-show"></td>
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}", class: "reg-link" %></p></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}", class: "reg-link" %></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
      </section>
    </tr>
  <% end %>
</table>

<section>
  <h2>Order Summary</h2>
  <section class="rainbow-display">
    <p>Total Items: <%= @order.items_count %></p>
    <p>Total: <%=number_to_currency(@order.grandtotal)%></p>
    <p>Date Placed: <%= @order.created_at.strftime('%D') %></p>
    <p>Last Updated: <%= @order.updated_at.strftime('%D') %></p>
  </section>
</section>

<section class="shipping-address">
  <h2>Shipping Info</h2>
  <section class="rainbow-display">
    <p><%= @order.name %></p>
    <p><%= @order.address %></p>
    <p><%= "#{@order.city}, #{@order.state} #{@order.zip}" %></p>
    <% if @order.pending? %>
      <p align="right"><%= link_to 'Edit Shipping Details', edit_order_path(@order), class: 'reg-link' %></p>
    <% end %>
  </section>
</section>

<% if @order.pending? %>
  <section>
    <%= link_to 'Cancel Order', order_cancel_path(@order), method: :patch, class: 'btn', id: 'red-btn' %>
  </section>
<% end %>
<% if current_admin? && @order.status == 'packaged' %>
  <%= link_to 'Ship Order', shipped_order_path(@order), class: "btn", method: :patch %>
<% end %>
